html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  background-color: #9CAF88;
  padding: 1.25em;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0.5em;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  font-size: 1.25em;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #006400;
}

.hero-banner {
  width: 100%;
  height: 80vh;
  background-color: white;
  background-image: url('https://cdn.discordapp.com/attachments/911315440431669268/1025099680616562699/unknown.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


footer {
  background-color: #9CAF88;
  color: white;
  text-align: center;
}
