html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #9CAF88;
  padding: 1.25em;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0.5em;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  font-size: 1.25em;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #006400;
}

.hero-banner {
  width: 100%;
  height: 80vh;
  background-color: white;
  background-image: url('https://cdn.discordapp.com/attachments/938157546936631397/1025406661793427456/unknown.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-family: 'Kepler Std', serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Kepler Std', serif;
}

section {
  padding: 3em 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 3%
}

.card {
  width: 50%
  padding: 2em;
  background-color: #f8c7a7;
  border-radius: 6px;
}

.work {
  padding: 1.25em;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.images {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #f8c7a7;
  padding: 0 1.5em;
  border-radius: 6px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.grid > img {
  height: 100%;
  width: 100%;
}


footer {
  background-color: #9CAF88;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
